.navbar {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 2rem;
}

.navbarDesktop{
  display: none;
}

.backdrop{
  background-color: rgba(0, 0, 0, .85);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 90%;
}

.navbarMobile{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  padding: 2rem;
  background-color: var(--main-bg-color);
  width: 60%;
  height: 70vh;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 1rem 0 0 4rem;
}

.spacer{
  height: 2rem;
}

.hidden{
  display: none;
}

.floatingActionButton{
  position: fixed;
  bottom: 50px;
  right: 20px;
  border-radius: 49%;
  border: 2px solid var(--complimentary-color-one);
  background-color: var(--complimentary-color-one);
  color: var(--main-bg-color);
  padding: 1rem;
}

.navbarLogo{
  width: 5rem;
  height: 5rem;
  margin-right: auto;
}

.desktopLinkWrapper{
  display: flex;
  align-items: center;
  margin-right: 6rem;
}

@media only screen and (min-width: 600px) {
  .navbarMobile{
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .mobileNavMaster{
    display: none;
  }

  .navbarDesktop{
    display: flex;
  }

  .navbarLogo{
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
  }
}
