HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
#build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Production dockerfiles ###
docker-compose.yml

### Production nginx config ###
default.conf

### Exclude ssl certificates ###
certs/**
!certs/*.md


### Nginx dockerfile and images ###
Dockerfile-proxy
DImages/**
!DImages/*.md



