.pagelayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.pagelayoutcontent {
  margin-top: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .pagelayoutcontent {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media only screen and (min-width: 1270px) {
  .pagelayoutcontent {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

@media only screen and (min-width: 1919px) {
  .pagelayoutcontent {
    padding-left: 18rem;
    padding-right: 18rem;
  }
}
