footer {
  color: var(--base-text-color);
  font-family: var(--common-font);
  font-weight: 400;
  font-size: .75rem;
  text-align: center;
  width: 100%;
}

footer p{
  margin-top: .1rem;
  margin-bottom: .1rem;
}

footer a {
  font-family: var(--common-font);
  color: var(--base-text-color);
}

footer a:visited{
  color: var(--base-text-color);
}

footer .footerListStyle{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
