.text {
  color: var(--base-text-color);
  font-family: var(--common-font);
  line-height: 1.5rem;
  letter-spacing: .05rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.textbold {
  font-weight: bold;
}

.textcursive {
  font-style: italic;
}
