.headlinecomponent {
  color: var(--base-link-color);
  font-family: var(--header-font);
  letter-spacing: .05rem;
}

.headlinecomponent h1{
  font-size: xx-large;
}

.headlinecomponent h2{
  font-size: x-large;
}

.headlinecomponent h3{
  font-size: larger;
}

.headlinecomponent h4{
  font-size: large;
}

.headlinecomponent h5{
  font-size: medium;
}

.headlinecomponent h6{
  font-size: small;
}


