.themeSelectorButton{
    background-color: rgba(0,0,0,0);
    color: var(--base-text-color);
    margin-left: .5rem;
    margin-right: .5rem;
    border: none;
}

.themeSelectorButton:hover{
    cursor: pointer;
}

.themeSelector{
    display: flex;
    justify-content: space-around;
    padding: .25rem;
}

.active{
    color: var(--active-theme-highlight);
}