.customHeadline1{
    color: var(--base-link-color);
    font-family: var(--header-font);
    font-size: 2rem;
    line-height: 2.5rem;
}

.customHeadline1 span{
    color: var(--complimentary-color-one);
}

.customHeadline2{
    color: var(--active-theme-highlight);
    font-family: var(--header-font);
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.particleWrapper{
    position: fixed;
    z-index: -1;
}

@media only screen and (min-width: 700px) {
    .customHeadline1{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .customHeadline2{
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .customHeadline1{
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .customHeadline2{
        font-size: 4rem;
    }
}

@media only screen and (min-width: 1640px) {
    .customHeadline1{
        font-size: 5rem;
        line-height: 5.5rem;
    }
    .customHeadline2{
        font-size: 4.5rem;
    }
}