<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="description" content="Contact me about anything. Job offers, feedback, questions are all welcome.">
    <meta name="keywords" content="Portfolio, Software development, Coding, Job search">
    <meta name="author" content="Juho Lindemark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Send me a message!</title>
    <!-- EXT sources -->
    <link rel="icon" href="/images/logo.webp" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link href="/common.css" rel="stylesheet" />
    <!-- Stylesheets -->
    <link href="/nav.css" rel="stylesheet" />
    <link href="/footer.css" rel="stylesheet" />
    <link href="/pagelayout.css" rel="stylesheet" />
    <link href="/common.css" rel="stylesheet" />
    <link href="/contact.css" rel="stylesheet" />
</head>
    <body class="dark">
    <div class="pageBgr"></div>
    <div class="pageWrapper">
        <!-- Navigation and main content -->
        <main>
            <!-- Navigation section -->
            <nav>
                <div class="navbarDesktop">
                    <img class="navbarLogo" src="/images/logo.webp" alt="Logo">
                    <div class="end">
                        <div class="themeSelector">
                            <button class="themeSelectorButton" onclick="setTheme('light');"><i class="fa-solid fa-sun"></i></button>
                            <button class="themeSelectorButton" onclick="setTheme('dark');"><i class="fa-solid fa-moon"></i></button>
                        </div>
                        <div class="desktopLinkWrapper">
                            <a class="navbarbutton" href="/">Home</a>
                            <a class="navbarbutton" href="/about">About</a>
                            <a class="navbarbutton" href="/portfolio">Portfolio</a>
                            <a class="navbarbutton active" href="/contact">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="mobileNavMaster">
                    <button class="floatingActionButton" onclick="displayMobileNav();"><i class="fa-solid fa-bars"></i></button>
                    <div id="backdrop" class="backdrop hidden"></div>
                    <div id="mobilenavbar" class="navbarMobile hidden">
                        <img class="navbarLogo" src="/images/logo.webp" alt="Logo">
                        <a class="navbarbutton" href="/">Home</a>
                        <a class="navbarbutton" href="/about">About</a>
                        <a class="navbarbutton" href="/portfolio">Portfolio</a>
                        <a class="navbarbutton active" href="/contact">Contact</a>
                        <!-- Spacer -->
                        <div style="height: 40px;"></div>
                        <div class="themeSelector">
                            <button class="themeSelectorButton" onclick="setTheme('light');"><i class="fa-solid fa-sun"></i></button>
                            <button class="themeSelectorButton" onclick="setTheme('dark');"><i class="fa-solid fa-moon"></i></button>
                        </div>
                    </div>
                </div>
                <script src="/navbar.js"></script>
            </nav>
            <!-- Content section -->
            <section>
                <div class="pagelayoutcontent">
                    <!-- Page content -->
                    <h1 class="header-font">Contact</h1>
                    <p class="text-section">
                        <small>If you prefer, you can send <a href="mailto:jlportfolio@outlook.com">direct email</a> to me or fill the form below.</small>
                    </p>

                    <form th:action="@{/contact}" th:object="${contact}" method="post">
                        <div class="form-container">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <!-- Name -->
                            <label for="name">Name:</label>
                            <p class="error-text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            <input id="name" class="form-input" th:field="*{name}" type="text" placeholder="Your name..." minlength="5" maxlength="80" required />
                            <!-- Email -->
                            <label for="email">Email:</label>
                            <p class="error-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            <input id="email" class="form-input" th:field="*{email}" type="email" placeholder="Your email..." minlength="5" maxlength="120" required/>
                            <!-- Headline -->
                            <label for="headline">Headline:</label>
                            <p class="error-text" th:if="${#fields.hasErrors('headline')}" th:errors="*{headline}"></p>
                            <input id="headline" class="form-input" th:field="*{headline}" type="text" placeholder="Your headline..." minlength="8" maxlength="100" required/>
                            <!-- Message -->
                            <label for="msg">Message:</label>
                            <p class="error-text" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></p>
                            <textarea id="msg" class="form-input" th:field="*{message}" type="text" placeholder="Your message..." rows="10" required minlength="30" maxlength="300"></textarea>
                            <button id="submitBtn" class="cta-button" type="submit">
                                Send
                            </button>
                        </div>
                    </form>
                    <script>
                        /* Submit button event listeners */
                        /*
                        const submitButton = document.getElementById("submitBtn");
                        submitButton.addEventListener("mouseenter", () => scaleUpOrDown("submitBtn", true));
                        submitButton.addEventListener("mouseleave", () => scaleUpOrDown("submitBtn", false));
                        */
                        /* Bind input focus animations */
                        /*
                        const inputs = document.getElementsByClassName("form-input");
                        for (let i = 0; i < inputs.length; i++) {
                            inputs[i].addEventListener("focusin", () => focusScaling(inputs[i].id, true, 1.02));
                            inputs[i].addEventListener("focusout", () => focusScaling(inputs[i].id, false, 1.02));
                        }*/
                    </script>
                </div>
            </section>
        </main>

        <!--Footer-->
        <footer>
            <div>
                <p>
                    <i class="fa-solid fa-copyright"></i> Juho Lindemark 2023
                </p>
                <p>Created with</p>
                <ul class="footerListStyle">
                    <li>
                        <a href="https://spring.io/">Spring Boot</a>
                    </li>
                    <li>
                        <a href="https://reactjs.org/">React</a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/">Linode</a>
                    </li>
                    <li>
                        <a href="https://fontawesome.com/">Fontawesome</a>
                    </li>
                    <li>
                        <a href="https://greensock.com/gsap/">Gsap</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>