<!DOCTYPE html>
<!-- Home/index page template -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/header.html :: head}"></head>
    <body>
        <!-- Navigation bar and background image-->
        <header th:replace="~{fragments/navbar.html :: navbar}"></header>
        <span th:replace="~{fragments/background.html :: background}"></span>

        <!--Main content section-->
        <main>
            <h1 class="header-font">Contact</h1>
            <p class="text-section">
                <small>If you prefer, you can send <a href="mailto:jlportfolio@outlook.com">direct email</a> to me or fill the form below.</small>
            </p>

            <form th:action="@{/contact}" th:object="${contact}" method="post">
                <div class="form-container">
                    <input type="hidden"
                           name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>
                    <label for="name">Name:</label>
                    <p class="error-text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    <input id="name" class="form-input" th:field="*{name}" type="text" placeholder="Your name..." minlength="5" maxlength="80" required />

                    <label for="email">Email:</label>
                    <p class="error-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    <input id="email" class="form-input" th:field="*{email}" type="email" placeholder="Your email..." minlength="5" maxlength="120" required/>

                    <label for="headline">Headline:</label>
                    <p class="error-text" th:if="${#fields.hasErrors('headline')}" th:errors="*{headline}"></p>
                    <input id="headline" class="form-input" th:field="*{headline}" type="text" placeholder="Your headline..." minlength="8" maxlength="100" required/>

                    <label for="msg">Message:</label>
                    <p class="error-text" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></p>
                    <textarea id="msg" class="form-input" th:field="*{message}" type="text" placeholder="Your message..." rows="10" required minlength="30" maxlength="300"></textarea>
                    <button id="submitBtn" class="cta-button" type="submit">
                        Send
                    </button>
                </div>
            </form>
            <script>
                /* Submit button event listeners */
                const submitButton = document.getElementById("submitBtn");
                submitButton.addEventListener("mouseenter", () => scaleUpOrDown("submitBtn", true));
                submitButton.addEventListener("mouseleave", () => scaleUpOrDown("submitBtn", false));

                /* Bind input focus animations */
                const inputs = document.getElementsByClassName("form-input");
                for (let i = 0; i < inputs.length; i++) {
                    inputs[i].addEventListener("focusin", () => focusScaling(inputs[i].id, true, 1.02));
                    inputs[i].addEventListener("focusout", () => focusScaling(inputs[i].id, false, 1.02));
                }
            </script>
        </main>
        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
    </body>
</html>
