<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="description" content="Here some of my projects are presented.">
    <meta name="keywords" content="Portfolio, Software development, Coding, Job search">
    <meta name="author" content="Juho Lindemark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>My portfolio</title>
    <!-- EXT sources -->
    <link rel="icon" href="/images/logo.webp" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link href="/common.css" rel="stylesheet" />
    <!-- Stylesheets -->
    <link href="/nav.css" rel="stylesheet" />
    <link href="/footer.css" rel="stylesheet" />
    <link href="/pagelayout.css" rel="stylesheet" />
    <link href="/common.css" rel="stylesheet" />
    <link href="/portfolio.css" rel="stylesheet" />
</head>
<body class="dark">
<div class="pageBgr"></div>
<div class="pageWrapper">
    <!-- Navigation and main content -->
    <main>
        <!-- Navigation section -->
        <nav>
            <div class="navbarDesktop">
                <img class="navbarLogo" src="/images/logo.webp" alt="Logo">
                <div class="end">
                    <div class="themeSelector">
                        <button class="themeSelectorButton" onclick="setTheme('light');"><i class="fa-solid fa-sun"></i></button>
                        <button class="themeSelectorButton" onclick="setTheme('dark');"><i class="fa-solid fa-moon"></i></button>
                    </div>
                    <div class="desktopLinkWrapper">
                        <a class="navbarbutton" href="/">Home</a>
                        <a class="navbarbutton" href="/about">About</a>
                        <a class="navbarbutton" href="/portfolio">Portfolio</a>
                        <a class="navbarbutton active" href="/contact">Contact</a>
                    </div>
                </div>
            </div>
            <div class="mobileNavMaster">
                <button class="floatingActionButton" onclick="displayMobileNav();"><i class="fa-solid fa-bars"></i></button>
                <div id="backdrop" class="backdrop hidden"></div>
                <div id="mobilenavbar" class="navbarMobile hidden">
                    <img class="navbarLogo" src="/images/logo.webp" alt="Logo">
                    <a class="navbarbutton" href="/">Home</a>
                    <a class="navbarbutton" href="/about">About</a>
                    <a class="navbarbutton" href="/portfolio">Portfolio</a>
                    <a class="navbarbutton active" href="/contact">Contact</a>
                    <!-- Spacer -->
                    <div style="height: 40px;"></div>
                    <div class="themeSelector">
                        <button class="themeSelectorButton" onclick="setTheme('light');"><i class="fa-solid fa-sun"></i></button>
                        <button class="themeSelectorButton" onclick="setTheme('dark');"><i class="fa-solid fa-moon"></i></button>
                    </div>
                </div>
            </div>
            <script src="/navbar.js"></script>
        </nav>
        <!-- Content section -->
        <section>
            <div class="pagelayoutcontent">
                <!-- Page content -->
                <h1>Portfolio</h1>
                <p>
                    This site presents work and projects I have made or been part of. Every project has been live in some point and some still are.
                    Live projects have been tagged with live tag and pages containing video are tagged with video, happy browsing!
                </p>
                <div class="cardContainer">
                    <!-- <Catquiz card> -->
                    <div class="cardContainer">
                        <div class="cardBody" >
                            <div>
                                <img class="cardImage" src="images/portfolio/catquiz/catquiz-index.webp" alt="Cat quiz thumbnail">
                            </div>
                            <div>
                                <h3 class="cardHeader">CatQuiz</h3>
                                <p class="cardText">Catquiz is a traditional quiz about cats. Still available. What is it? Catquiz was catsopinion.com blog's...</p>
                                <div>
                                    <span class="cardTag">Live</span>
                                    <span class="cardTag">React</span>
                                    <span class="cardTag">Typescript</span>
                                    <span class="cardTag">Firebase</span>
                                </div>
                                <a class="cardLink" href="portfolio/view/catquiz">Read</a>
                            </div>
                        </div>
                    </div>
                    <!-- </Catquiz card> -->
                    <!-- <Catsopinion card> -->
                    <div class="cardContainer">
                        <div class="cardBody" >
                            <div>
                                <img class="cardImage" src="images/portfolio/catsopinion/catsopinion-thumbnail.webp" alt="Cat quiz thumbnail">
                            </div>
                            <div>
                                <h3 class="cardHeader">Catsopinion.com</h3>
                                <p class="cardText">Catsopinion.com was a blog and website of course about cats. I wrote about anything cat related, like history, food and even some anatomy...</p>
                                <div>
                                    <span class="cardTag">Vue.js</span>
                                    <span class="cardTag">Nuxt.js</span>
                                    <span class="cardTag">Firebase</span>
                                    <span class="cardTag">Heroku</span>
                                    <span class="cardTag">Aws</span>
                                </div>
                                <a class="cardLink" href="portfolio/view/catsopinion">Read</a>
                            </div>
                        </div>
                    </div>
                    <!-- </Catsopinion card> -->
                    <!-- <CatsopinionAdmin card> -->
                    <div class="cardContainer">
                        <div class="cardBody" >
                            <div>
                                <img class="cardImage" src="images/portfolio/catsadmin/catsadmin-index.webp" alt="Cat quiz thumbnail">
                            </div>

                            <div>
                                <h3 class="cardHeader">Catsopinion website admin software</h3>
                                <p class="cardText">Catsopinion admin software was a simple CMS system for one specific site. Image from the frontpage, note missing some buttons because not...</p>
                                <div>
                                    <span class="cardTag">C#</span>
                                    <span class="cardTag">.NET</span>
                                    <span class="cardTag">Firebase</span>
                                    <span class="cardTag">WPF</span>
                                    <span class="cardTag">Aws</span>
                                </div>
                                <a class="cardLink" href="portfolio/view/catsadmin">Read</a>
                            </div>
                        </div>
                    </div>
                    <!-- </CatsopinionAdmin card> -->
                    <!-- <catvision card> -->
                    <div class="cardContainer">
                        <div class="cardBody" >
                            <div>
                                <img class="cardImage" src="images/portfolio/catvision/catvision-thumbnail.webp" alt="Cat quiz thumbnail">
                            </div>
                            <div>
                                <h3 class="cardHeader">Catvision</h3>
                                <p class="cardText">Catvision is another interactive addition for the blog. It presents visually differences between cats POV and humans POV. Overview of the...</p>
                                <div>
                                    <span class="cardTag">Live</span>
                                    <span class="cardTag">C#</span>
                                    <span class="cardTag">Unity</span>
                                    <span class="cardTag">Firebase</span>
                                </div>
                                <a class="cardLink" href="portfolio/view/catvision">Read</a>
                            </div>
                        </div>
                    </div>
                    <!-- </catvision card> -->
                    <!-- <unityraytracing card> -->
                    <div class="cardContainer">
                        <div class="cardBody" >
                            <div>
                                <img class="cardImage" src="images/portfolio/raytracing/thumbnail.webp" alt="Cat quiz thumbnail">
                            </div>
                            <div>
                                <h3 class="cardHeader">Unity ray-tracing</h3>
                                <p class="cardText">Goal was to showcase strengths of hdrp render pipeline. I created and modeled simple scene with hq textures...</p>
                                <div>
                                    <span class="cardTag">Video</span>
                                    <span class="cardTag">C#</span>
                                    <span class="cardTag">Unity</span>
                                    <span class="cardTag">Hdrp-pipeline</span>
                                </div>
                                <a class="cardLink" href="portfolio/view/unityraytracing">Read</a>
                            </div>
                        </div>
                    </div>
                    <!-- </unityraytracing card> -->
                    <!-- <footkin card> -->
                    <div class="cardContainer">
                        <div class="cardBody">
                            <div>
                                <img class="cardImage" src="images/portfolio/footkin/menu.webp" alt="Cat quiz thumbnail">
                            </div>
                           <div>
                               <h3 class="cardHeader">Footkin's halloween revenge</h3>
                               <p class="cardText">This was a game jam project that I made together with 3 other people. Theme was halloween...</p>
                               <div>
                                   <span class="cardTag">Video</span>
                                   <span class="cardTag">Download</span>
                                   <span class="cardTag">C#</span>
                                   <span class="cardTag">Unity</span>
                                   <span class="cardTag">Urp-pipeline</span>
                               </div>
                               <a class="cardLink" href="portfolio/view/footkin">Read</a>
                           </div>
                        </div>
                    </div>
                    <!-- </footkin card> -->
                    <!-- <library card> -->
                    <div class="cardContainer">
                        <div class="cardBody">
                            <div>
                                <img class="cardImage" src="images/portfolio/kirjasto/menu.webp" alt="Cat quiz thumbnail">
                            </div>
                            <div>
                                <h3 class="cardHeader">Virtual library</h3>
                                <p class="cardText">Me and three other student made this for a library, our goal was to bring library to game...</p>
                                <div>
                                    <span class="cardTag">C#</span>
                                    <span class="cardTag">Unity</span>
                                    <span class="cardTag">Urp-pipeline</span>
                                </div>
                                <a class="cardLink" href="portfolio/view/library">Read</a>
                            </div>
                        </div>
                    </div>
                    <!-- </library card> -->
                </div>
            </div>
        </section>
    </main>

    <!--Footer-->
    <footer>
        <div>
            <p>
                <i class="fa-solid fa-copyright"></i> Juho Lindemark 2023
            </p>
            <p>Created with</p>
            <ul class="footerListStyle">
                <li>
                    <a href="https://spring.io/">Spring Boot</a>
                </li>
                <li>
                    <a href="https://reactjs.org/">React</a>
                </li>
                <li>
                    <a href="https://www.linode.com/">Linode</a>
                </li>
                <li>
                    <a href="https://fontawesome.com/">Fontawesome</a>
                </li>
                <li>
                    <a href="https://greensock.com/gsap/">Gsap</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>