<!doctype html>
<!-- Home/index page template -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: head}"></head>
<body>
    <!-- Navigation bar and background image-->
    <header th:replace="~{fragments/navbar.html :: navbar}"></header>
    <span th:replace="~{fragments/background.html :: background}"></span>

    <!--Main content section-->
    <main>
        <div class="card-container">
            <div th:each="card : ${cards}">
                <div class="card-body" >
                    <img class="card-image" th:src="${card.image}" alt="Portfolio thumbnail">
                    <h3 class="card-header header-font" th:text="${card.name}"></h3>
                    <p class="card-text normal-font" th:text="${card.excerpt}"></p>
                    <div>
                        <span th:each="tab : ${card.tags}" class="card-tag header-font" th:text="${tab}"></span>
                    </div>
                    <a class="cta-button card-link" th:href="@{/portfolio/view(id=${card.id})}">Read</a>
                </div>
            </div>
        </div>
        <script>
            const cardLinks = document.getElementsByClassName("card-link");
            for (let i = 0; i < cardLinks.length; i++) {
                  const element = cardLinks[i];
                  element.id = "dyn" + i;
                  constantPulse(element.id, 1.05);
            }
        </script>
    </main>
    <footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>
