<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Thank you! - Juho Lindemark</title>
<link href="/received.css" rel="stylesheet" />
<link rel="icon" href="/images/logo.png" />
<script src="/animation.js"></script>
<meta name="description" content="Confirmation of form receiving"/>
<link href="/common.css" rel="stylesheet" />
<link href="/received.css" rel="stylesheet" />


<body>
    <!--Main content section-->
    <main>
        <h1 >Form has been received. Thank you! </h1>
        <p th:text="'Name: ' + ${contact.name}" />
        <p th:text="'Email: ' + ${contact.email}" />
        <p th:text="'Date: ' + ${contact.date}" />
        <p th:text="'Headline: ' + ${contact.headline}" />
        <p th:text="'Message: ' + ${contact.message}" />
        <div class="spacer"></div>
        <a href="/contact">Submit another message</a>
        <a href="/">Return home</a>
    </main>
</body>
</html>
