<!doctype html>
<!-- Home/index page template -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: head}"></head>
<body>
    <!-- Navigation bar and background image-->
    <header th:replace="~{fragments/navbar.html :: navbar}"></header>
    <span th:replace="~{fragments/background.html :: background}"></span>

    <!--Main content section-->
    <main>
        <h1 class="header-font huge-header">Who am I?</h1>
        <p class="text-section">
            I am Juho Fullstack and a game developer from Finland.
            I have taken an interest in programming for quite a while now.
            It started as  a child by modding games or just goofing around with the attitude "hey what this does?"...
            <br><br>
            I found my true calling in computer science while I was studying CNC machining.
            We practiced writing instructions on those machines and I discovered it was awesome.
            Not the machining part, but the programming part.One thing led to another,
            and suddenly I was on a beginner's Java course at University of Helsinki.
            After that, I started doing courses at Udemy on web development, React and Android applications.
            <br><br>
            Later, I discovered a program called Amkoodari in XAMK, which is a University of
            applied science located in southeast Finland. I completed about 60 credits there.
            Studies focused mainly on the web, AI and databases.
            We also completed some graphical design courses and a "lean-thinking" course.
            <br><br>
            After an unfortunate series of events, I decided to take a break from work and
            study game development full time. So, I will graduate from Vuoksi 2023,
            a vocational school in western Finland, and be a real software developer.
            I have also continued to find and complete higher education courses about software development and
            I have completed a course called Full stack Open. It was created by the University of Helsinki and
            focuses on fullstack products.We used MERN stack.
            The course also had sections for GraphQl, Typescript, Containers and React native.
        </p>
        <h2 class="medium-header header-font">Formal education</h2>
        <ul>
            <li>Software developer (Game developer) - Vuoksi 2023</li>
            <li>Full stack open - University of Helsinki 2023</li>
            <li>AmKoodari - XAMK 2022</li>
            <li>Programming Mooc - University of Helsinki 2020</li>
        </ul>

        <a id="cta-download" href="/files/cv.pdf" download class="cta-button">Full cv can be downloaded here(pdf)</a>
        <script>
            constantPulse("cta-download", 1.02);
        </script>
    </main>
    <footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>
