<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Catsopinion.com was a blog and website of course about cats.">
    <meta name="keywords" content="Vue.js, Nuxt.js, Firebase, Heroku, aws">
    <title>Catsopinion</title>
    <link rel="icon" href="/images/logo.webp" />
    <link href="/common.css" rel="stylesheet" />
    <link href="/pagelayout.css" rel="stylesheet" />
    <link href="/view.css" rel="stylesheet" />
</head>
<body class="dark">
    <div class="pagelayoutcontent">
        <h1 class="view-header">Catsopinion.com</h1>
        <p class="view-text"><small>27.12.2022</small></p>
        <p class="view-text">
            <i class="view-text">
                Catsopinion.com was a blog and website of course about cats.
                I wrote about anything cat related, like history, food and even some anatomy stuff.
            </i>
        </p>
        <img class="view-image" src="/images/portfolio/catsopinion/catsopinion-thumbnail.webp" alt="General screenshot from site">
        <p class="view-text" ><i class="view-text">Image from the frontpage</i></p>
        <!-- First Content section -->
        <h2 class="view-header">What was it?</h2>
        <p class="view-text">
            Catsopinion.com was a blog and website, of course, about cats.
            I wrote about anything cat related, like history, food and even some anatomy stuff.
            Site is not up anymore, but some related projects are.
            Keeping a blog is actually really time-consuming and I just could not find time for it.
            Catsopinion was also a great learning experience programming wise,
            I had never written a single line of Vue or Nuxt before.
        </p>
        <img class="view-image" src="/images/portfolio/catsopinion/catsopinion-mobile.webp" alt="Mobile style screenshot">
        <p class="view-text" ><i class="view-text">Page was fully responsive. Picture from app area that contained all interactive content.</i></p>

        <!-- Second Content section -->
        <h2 class="view-header">Goals and lifespan</h2>
        <p class="view-text">
            Whole point was to create something on my journey to becoming a programmer some day.
            That was the main reason I wrote it in vue instead of using something like Wordpress or other CMS systems.
            It was never about what tech made sense or would be easiest.
            It also proved for me that blogging requires more work than I imagined.
            My own cat was also participating very well at the beginning,
            but she got bored after a while and left her position as CEO, content manager, social media manager,
            general leader of things and resource manager. So I got bored too...
        </p>
        <img class="view-image" src="/images/portfolio/catsopinion/catsopinion-contact.webp" alt="Contact page screenshot">
        <p class="view-text" ><i class="view-text">Of course me and Vilma accepted messages.</i></p>

        <!-- Third Content section -->
        <h2 class="view-header">Tech used</h2>
        <p class="view-text">
            The site did have some iterations, but it was finally made with Nuxt.js.
            Project was hosted in Heroku and the database was in Google Firestore. Content was saved in Aws s3 buckets.
            <br><br>
            Code is stored at GitHub over here <a target="_blank" href="https://github.com/linre-90/nuxt-catsopinion">here</a>.
        </p>
        <img class="view-image" src="/images/portfolio/catsopinion/catsopinion-blog.webp" alt="Blog listing">
        <p class="view-text" >
            <i class="view-text">
                Blog post listing.
            </i>
        </p>
    </div>
</body>
</html>

