<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Catsopinion admin software was a simple CMS system for one specific site.">
    <meta name="keywords" content="C#, .NET, Firebase, WPF, aws">
    <title>Catsopinion website admin software</title>
    <link rel="icon" href="/images/logo.webp" />
    <link href="/common.css" rel="stylesheet" />
    <link href="/pagelayout.css" rel="stylesheet" />
    <link href="/view.css" rel="stylesheet" />
</head>
<body class="dark">
    <div class="pagelayoutcontent">
        <div class="view-container">
            <h1 class="view-header" >Catsopinion website admin software</h1>
            <p class="view-text"><small>27.12.2022</small></p>
            <p class="view-text">
                <i class="view-text">
                    Catsopinion admin software was a simple CMS system for one specific site.
                </i>
            </p>
            <img class="view-image" src="/images/portfolio/catsadmin/catsadmin-index.webp" alt="Main menu interface">
            <p class="view-text" ><i class="view-text    ">Image from the frontpage, note missing some buttons because not fully installed
            </i></p>
            <!-- First Content section -->
            <h2 class="view-header">What was it?</h2>
            <p class="view-text">
                My first contact with WPF.
                I realized pretty quickly I needed some quick way to perform CRUD operations for blog posts,
                hot news sections and possible contact forms. At the beginning, I manipulated the database directly,
                but this was error-prone and slow, so let's make software to make it more simple and reliable.
                It made my life a lot easier. Program provided basic ui, CRUD operations, hot news and messages.
            </p>

            <!-- Second Content section -->
            <h2 class="view-header">Goals and lifespan</h2>
            <p class="view-text">
                The program did just what I needed. Simple, fast interface for managing blog content and
                other stuff related to the site. I considered a lot of different technology for this, like Ionic,
                Flutter, python and Electron but ended up with .net. I really did not need cross-platform compatibility and
                used Windows mainly, so it was an easy decision. The whole experience was actually pretty
                straight forward and pretty great. Although I still have things to learn in object-oriented programming.
            </p>

            <!-- Third Content section -->
            <h2 class="view-header">Tech used</h2>
            <p class="view-text">
                It was written in c#, packaged and installed. The program modified AWS bucket and Firebase firestore.
                <br><br>
                Code is stored at GitHub over here <a target="_blank" href="https://github.com/linre-90/catsopinion-admin-wpf">here</a>.
            </p>
            <img class="view-image" src="/images/portfolio/catsadmin/catsadmin-newsadd.webp" alt="Insert new news image">
            <p class="view-text" >
                <i class="view-text">
                    Image from add new news to hot news view
                </i>
            </p>
        </div>
    </div>>
</body>
</html>

