<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This was a project that was ordered from us and the goal was to create some sort of game that shows kids things about library.">
    <meta name="keywords" content="Unity, C#, Urp">
    <title>Virtual library</title>
    <link rel="icon" href="/images/logo.webp" />
    <link href="/common.css" rel="stylesheet" />
    <link href="/pagelayout.css" rel="stylesheet" />
    <link href="/view.css" rel="stylesheet" />
</head>
<body class="dark">
    <div class="pagelayoutcontent">
        <h1 class="view-header" >Virtual library</h1>
        <p class="view-text"><small>27.12.2022</small></p>
        <p class="view-text">
            <i class="view-text">
                This was a project that was ordered from us and the goal was to create some sort of game that shows kids
                things about library.
            </i>
        </p>
        <img class="view-image" src="/images/portfolio/kirjasto/menu.webp" alt="Main menu of the game">
        <p class="view-text" >
            <i class="view-text">
                The main menu of the game. The pig was a mascot that was made from paper mass for the library.
                So we digitalized it.
            </i>
        </p>
        <!-- First Content section -->
        <h2 class="view-header">What is it?</h2>
        <p class="view-text">
            This was our intern section project. We were asked to make a game for the local library.
            The only restriction was to include pigs and that the facts were correct.
            We created a virtual detailed model from the library and put the player in as a robot.
            Pig gives players missions that make the player familiar with the library and its layout.
            <br><br>
            Picking a player also customizes book suggestions given by a pig,
            so a character playing as a princess robot is more likely to receive books about princesses.
            Pig also tells really corny jokes like: "What is the biggest rice in the world?" - "Paris"...
            Well, jokes work better in my native language.Controls were made simple and
            bright moving items were added to make the library more fun place.
        </p>
        <img class="view-image" src="/images/portfolio/kirjasto/pighost.webp" alt="The flying pig">
        <p class="view-text" >
            <i class="view-text">
                Pig was able to fly around the library and act as a host for the player.
            </i>
        </p>

        <img class="view-image" src="/images/portfolio/kirjasto/sections.webp" alt="Colorfull clearly marked sections">
        <p class="view-text" >
            <i class="view-text">
                Sections were color coded and illustrated with images.
            </i>
        </p>

        <img class="view-image" src="/images/portfolio/kirjasto/ads.webp" alt="Our team name was vihreä omena production">
        <p class="view-text" >
            <i class="view-text">
                Our team name was vihriä omena production, and we placed "advertisement" items around library.
            </i>
        </p>

        <!-- Second Content section -->
        <h2 class="view-header">The result</h2>
        <p class="view-text">
            The game turned out great, and we managed to put a lot of activities in it.
            We also received a diploma about the game.
        </p>
        <img class="view-image" src="/images/portfolio/kirjasto/minigame.webp" alt="Book lending machine">
        <img class="view-image" src="/images/portfolio/kirjasto/minigame2.webp" alt="Book lending machine">
        <img class="view-image" src="/images/portfolio/kirjasto/minigame3.webp" alt="Book lending machine">
        <p class="view-text" >
            <i class="view-text">
                The game featured working lending machines and other mini-games inside computers that were placed around the library.
            </i>
        </p>
        <img class="view-image" src="/images/portfolio/kirjasto/whole.webp" alt="Overview of the library">
        <p class="view-text" >
            <i class="view-text">
                We optimized game heavily to run on low-end hardware.
            </i>
        </p>
        <img class="view-image" src="/images/portfolio/kirjasto/characterpick.webp" alt="Player robot">
        <p class="view-text" >
            <i class="view-text">
                Players move around as robot. Complete assignments like book rally or visit sections.
            </i>
        </p>
    </div>
</body>
</html>

